* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html, body, main {
    height: 50%;
}

.container {
    margin-top: 20px;

    justify-content: left;
    align-items: left;

 
    color: black;
}

#searchInput {
    margin: 5px;
    justify-content: left;
    align-items: left;
}




.card-2, {
    align-items: top;
}
.card-3 {
    font-size: large;
    align-items: right;
}



#h2RS {
    color: black;
}

#clearBtn, #submitBtn {
    margin-left: 10px;
    margin-right: 10px;
}

.card-1 {
    outline: 2px black; 
    flex-direction: row;
    
}
